<%- include('includes/head.ejs') %>






<div class="container">
    <div class="page-not-found-main">
        <span>&#128532;</span>
        <h3>Ouups, page not found</h3>
        <p>We are sorry for the inconvenience. It looks like you're trying to</p>
        <p>access a page that has been deleted or never even existed.</p>
        <a href="/" type="button" class="btn btn-outline-success">BACK TO HOMEPAGE</>

    </div>



</div>


<%- include('includes/end.ejs') %>